# Titanic

In [2]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model as lm
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import cross_val_score, GridSearchCV, cross_validate, train_test_split
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, normalize
from sklearn.preprocessing import LabelEncoder

In [3]:
#Ignore warnings 
import warnings
warnings.simplefilter("ignore", category=DeprecationWarning)

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# 1. Prepare Data

### Correct the Training data
#### Step1 - Change the categorical variables to numerical values

In [5]:
# Lets use Pclass, Sex, Age, SibSp, Parch, Fare, Embarked

train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']].isnull().any()
#Lets predict the age from the Fare, Sex, Pclass, parch and SubSp and use it

selected_df = train_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'PassengerId', 'Survived']]

#Sex
selected_df['Sex'].replace('male',0, inplace=True)
selected_df['Sex'].replace('female',1, inplace=True)

#Embarked
selected_df['Embarked'].replace('S', 0, inplace=True)
selected_df['Embarked'].replace('C', 1, inplace=True)
selected_df['Embarked'].replace('Q', 2, inplace=True)

/home/ec2-user/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

### Impute for Predictors with missing values 
#### Step 2 - Use regression to predict the age missing values

In [6]:
# Select sepcific rows
age_select = selected_df.loc[selected_df['Age'].notnull(),['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

# Regression
lmod_age = lm.LinearRegression()
lmod_age.fit(age_select[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']], age_select['Age'])

selected_df['predicted_age'] = lmod_age.predict(selected_df[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']])

# Fill back the age correctly
#selected_df[['Age', 'predicted_age']].Age
#selected_df[['Age','predicted_age']].apply(lambda x: x)

import math

age = selected_df['Age']
pred_age = selected_df['predicted_age']

#selected_df['Age'] = np.where(math.isnan(age) is True, pred_age, age)

for ind, row in selected_df.iterrows():
    if math.isnan(row['Age']) is True:
        if(row['predicted_age'] > 0 ):
            selected_df['Age'][ind] = row['predicted_age']
        else:
            selected_df['Age'][ind] = 2

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/ec2-user/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Correct test data
#### 1. Handle categorical predictors

In [7]:
test_df['Sex'].replace('male',0, inplace=True)
test_df['Sex'].replace('female',1, inplace=True)

test_df[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare', 'Age']].isnull().any()

Pclass    False
Sex       False
SibSp     False
Parch     False
Fare       True
Age        True
dtype: bool

In [8]:
test_df[test_df['Age'].isnull()]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
10,902,3,"Ilieff, Mr. Ylio",0,NaN,0,0,349220,7.8958,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,NaN,0,0,PC 17598,31.6833,NaN,S
29,921,3,"Samaan, Mr. Elias",0,NaN,2,0,2662,21.6792,NaN,C
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S
36,928,3,"Roth, Miss. Sarah A",1,NaN,0,0,342712,8.0500,NaN,S
39,931,3,"Hee, Mr. Ling",0,NaN,0,0,1601,56.4958,NaN,S
41,933,1,"Franklin, Mr. Thomas Parham",0,NaN,0,0,113778,26.5500,D34,S
47,939,3,"Shaughnessy, Mr. Patrick",0,NaN,0,0,370374,7.7500,NaN,Q
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",0,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
58,950,3,"Davison, Mr. Thomas Henry",0,NaN,1,0,386525,16.1000,NaN,S
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...",1,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
76,968,3,"Miles, Mr. Frank",0,NaN,0,0,359306,8.0500,NaN,S
83,975,3,"Demetri, Mr. Marinko",0,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",0,NaN,0,0,240261,10.7083,NaN,Q
85,977,3,"Khalil, Mr. Betros",0,NaN,1,0,2660,14.4542,NaN,C
88,980,3,"O'Donoghue, Ms. Bridget",1,NaN,0,0,364856,7.7500,NaN,Q
91,983,3,"Pedersen, Mr. Olaf",0,NaN,0,0,345498,7.7750,NaN,S
93,985,3,"Guest, Mr. Robert",0,NaN,0,0,376563,8.0500,NaN,S
102,994,3,"Foley, Mr. William",0,NaN,0,0,365235,7.7500,NaN,Q
107,999,3,"Ryan, Mr. Edward",0,NaN,0,0,383162,7.7500,NaN,Q
108,1000,3,"Willer, Mr. Aaron (Abi Weller"")""",0,NaN,0,0,3410,8.7125,NaN,S
111,1003,3,"Shine, Miss. Ellen Natalia",1,NaN,0,0,330968,7.7792,NaN,Q
116,1008,3,"Thomas, Mr. John",0,NaN,0,0,2681,6.4375,NaN,C
121,1013,3,"Kiernan, Mr. John",0,NaN,1,0,367227,7.7500,NaN,Q
124,1016,3,"Kennedy, Mr. John",0,NaN,0,0,368783,7.7500,NaN,Q
127,1019,3,"McCoy, Miss. Alicia",1,NaN,2,0,367226,23.2500,NaN,Q
132,1024,3,"Lefebre, Mrs. Frank (Frances)",1,NaN,0,4,4133,25.4667,NaN,S
133,1025,3,"Thomas, Mr. Charles P",0,NaN,1,0,2621,6.4375,NaN,C
146,1038,1,"Hilliard, Mr. Herbert Henry",0,NaN,0,0,17463,51.8625,E46,S
148,1040,1,"Crafton, Mr. John Bertram",0,NaN,0,0,113791,26.5500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
268,1160,3,"Howard, Miss. May Elizabeth",1,NaN,0,0,A. 2. 39186,8.0500,NaN,S
271,1163,3,"Fox, Mr. Patrick",0,NaN,0,0,368573,7.7500,NaN,Q
273,1165,3,"Lennon, Miss. Mary",1,NaN,1,0,370371,15.5000,NaN,Q
274,1166,3,"Saade, Mr. Jean Nassr",0,NaN,0,0,2676,7.2250,NaN,C
282,1174,3,"Fleming, Miss. Honora",1,NaN,0,0,364859,7.7500,NaN,Q
286,1178,3,"Franklin, Mr. Charles (Charles Fardon)",0,NaN,0,0,SOTON/O.Q. 3101314,7.2500,NaN,S
288,1180,3,"Mardirosian, Mr. Sarkis",0,NaN,0,0,2655,7.2292,F E46,C
289,1181,3,"Ford, Mr. Arthur",0,NaN,0,0,A/5 1478,8.0500,NaN,S
290,1182,1,"Rheims, Mr. George Alexander Lucien",0,NaN,0,0,PC 17607,39.6000,NaN,S
292,1184,3,"Nasr, Mr. Mustafa",0,NaN,0,0,2652,7.2292,NaN,C
297,1189,3,"Samaan, Mr. Hanna",0,NaN,2,0,2662,21.6792,NaN,C
301,1193,2,"Malachard, Mr. Noel",0,NaN,0,0,237735,15.0458,D,C
304,1196,3,"McCarthy, Miss. Catherine Katie""""",1,NaN,0,0,383123,7.7500,NaN,Q
312,1204,3,"Sadowitz, Mr. Harry",0,NaN,0,0,LP 1588,7.5750,NaN,S
332,1224,3,"Thomas, Mr. Tannous",0,NaN,0,0,2684,7.2250,NaN,C
339,1231,3,"Betros, Master. Seman",0,NaN,0,0,2622,7.2292,NaN,C
342,1234,3,"Sage, Mr. John George",0,NaN,1,9,CA. 2343,69.5500,NaN,S
344,1236,3,"van Billiard, Master. James William",0,NaN,1,1,A/5. 851,14.5000,NaN,S
357,1249,3,"Lockyer, Mr. Edward",0,NaN,0,0,1222,7.8792,NaN,S
358,1250,3,"O'Keefe, Mr. Patrick",0,NaN,0,0,368402,7.7500,NaN,Q
365,1257,3,"Sage, Mrs. John (Annie Bullen)",1,NaN,1,9,CA. 2343,69.5500,NaN,S
366,1258,3,"Caram, Mr. Joseph",0,NaN,1,0,2689,14.4583,NaN,C
380,1272,3,"O'Connor, Mr. Patrick",0,NaN,0,0,366713,7.7500,NaN,Q
382,1274,3,"Risien, Mrs. Samuel (Emma)",1,NaN,0,0,364498,14.5000,NaN,S
384,1276,2,"Wheeler, Mr. Edwin Frederick""""",0,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S
408,1300,3,"Riordan, Miss. Johanna Hannah""""",1,NaN,0,0,334915,7.7208,NaN,Q
410,1302,3,"Naughton, Miss. Hannah",1,NaN,0,0,365237,7.7500,NaN,Q
413,1305,3,"Spector, Mr. Woolf",0,NaN,0,0,A.5. 3236,8.0500,NaN,S
416,1308,3,"Ware, Mr. Frederick",0,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",0,NaN,1,1,2668,22.3583,NaN,C

#### 2. Impute missing values

In [9]:
# There is only one value missing in Fare and we adjust that as per ticket prices as per observation
for ind, row in test_df.iterrows():
    if math.isnan(row['Fare']) is True:
        test_df['Fare'][ind] = 7.8958

# Setting the age
test_df['predicted_age'] = lmod_age.predict(test_df[['Pclass', 'Sex', 'SibSp', 'Parch', 'Fare']])

# Correct Age
for ind, row in test_df.iterrows():
    if math.isnan(row['Age']) is True:
        if(row['predicted_age'] > 0 ):
            test_df['Age'][ind] = row['predicted_age']
        else:
            test_df['Age'][ind] = 2

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

# 2. Setup Data

In [10]:
x_train = selected_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
y_train = selected_df['Survived']

# 3. Model Selection

## 3.1. Logistic Regression
Above Linear Regression model is only for representation sake. We need to use Logistic regression for this activity

In [11]:
lrmodel = lm.LogisticRegressionCV(cv=10, random_state=100)
lrmodel.fit(x_train, y_train)

litPredTrain = lrmodel.predict(x_train)
lrmodel.score(x_train, y_train)

0.8125701459034792

## 3.2. Random Forest Classification
Try a random forest classifier and see how it fits

In [12]:
#Running a random forest without tuning

rfmod = RandomForestClassifier()
rfmod.fit(x_train, y_train)

y_rtrainfit = rfmod.predict(x_train)
accuracy_score(y_train,y_rtrainfit)
# This accuracy for training set. So do not take it as its real performance.

0.9708193041526375

### Tune With GridSearchCV

In [13]:
params = [{'n_estimators': [10, 11, 12, 13, 14, 15, 20], 'max_depth': [2, 3, 4, 5, 6, 10,] }]
clf = GridSearchCV(RandomForestClassifier(), params, cv=10)
clf.fit(x_train, y_train)
print("Random forest classifier - Grid Search - Best params: ", clf.best_params_)
print("Random forest classifier - Grid Search - Best Score: ", clf.best_score_)

Random forest classifier - Grid Search - Best params:  {'max_depth': 6, 'n_estimators': 14}
Random forest classifier - Grid Search - Best Score:  0.835016835016835

## 3.3. Changing predictor set and checking with Random forest
### It seems to marginally improve if we drop fare

In [14]:
params = [{'n_estimators': [10, 11, 12, 13, 14, 15, 20], 'max_depth': [2, 3, 4, 5, 6, 10,] }]
clf = GridSearchCV(RandomForestClassifier(), params, cv=10)
clf.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']], y_train)
print("Random forest classifier - Grid Search - Best params: ", clf.best_params_)
print("Random forest classifier - Grid Search - Best Score: ", clf.best_score_)

Random forest classifier - Grid Search - Best params:  {'max_depth': 6, 'n_estimators': 11}
Random forest classifier - Grid Search - Best Score:  0.8316498316498316

## 3.4. Support Vector Classification

In [15]:
svcmod = SVC()
svcmod.fit(x_train, y_train)

y_svctrainfit = svcmod.predict(x_train)
accuracy_score(y_train,y_svctrainfit)

0.9034792368125701

### Tune With GridSearchCV

In [16]:
# First scale the data
scaler = StandardScaler()
scaler.fit(x_train)
x_train_sc = scaler.transform(x_train)

# Then tune the model
params = [{'C': [0.5, 1, 1.2], 'kernel': ['rbf', 'linear'] }]
clf = GridSearchCV(SVC(), params, cv=10)
#clf.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']], y_train)
#print("Random forest classifier - Grid Search - Best params: ", clf.best_params_)
#print("Random forest classifier - Grid Search - Best Score: ", clf.best_score_)

## 3.5 XGBoost
[About](https://www.datacamp.com/community/tutorials/xgboost-in-python) XGBoost.
XGBoost is capable of handling missing data. But we have already handled it.

In [17]:
import xgboost as xgb

In [18]:
# Normal XGBoost
data_dmatrix = xgb.DMatrix(data=x_train, label=y_train)
xg_clf = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.9, learning_rate = 0.01, 
                           max_depth = 10, alpha = 10, n_estimators = 10)

xg_clf.fit(x_train, y_train)
preds = xg_clf.predict(x_train)
xg_clf.score(x_train, y_train)
accuracy_score(y_train,preds)

0.9326599326599326

In [19]:
# Then tune the model
params = [{'learning_rate': [0.01, 0.1, 0.5, 1], 'n_estimators': [10, 15, 20, 25], 'max_depth': [5, 10, 15, 20], 
           'colsample_bytree': [0.3, 0.6, 0.9], 'objective': ['reg:linear'], 'alpha': [10]}]
clf = GridSearchCV(xgb.XGBClassifier(), params, cv=10)
clf.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']], y_train)
print("Random forest classifier - Grid Search - Best params: ", clf.best_params_)
print("Random forest classifier - Grid Search - Best Score: ", clf.best_score_)

Random forest classifier - Grid Search - Best params:  {'alpha': 10, 'colsample_bytree': 0.9, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 25, 'objective': 'reg:linear'}
Random forest classifier - Grid Search - Best Score:  0.8316498316498316

## 4. Summarizing Cross Validation Scores

1. Linear Regression : 81.26%
2. Random Forest (with Fare): 82.94%
   {'max_depth': 10, 'n_estimators': 14}
3. Random Forest (wo Fare): 83.05%
   {'max_depth': 5, 'n_estimators': 14}
4. SVC (wo Fare): 81.7%
   {'C': 1.2, 'kernel': 'rbf'}
5. XGBoost (with Fare): 83.6%
   {'alpha': 10, 'colsample_bytree': 0.9, 'learning_rate': 0.01, 'max_depth': 10, 'n_estimators': 20, 'objective': 'reg:linear'}
6. XGBoost (wo Fare): 83.16%
   {'alpha': 10, 'colsample_bytree': 0.9, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 25, 'objective': 'reg:linear'}
   
From these scores we select (5) XGBoost with the chosen parameters - Probably the colsample_bytree value of 0.9 may have helped (leading to overfit). But let us see.

## 5. Predicting with Selected Model

In [20]:
# XGBoost
data_dmatrix = xgb.DMatrix(data=x_train, label=y_train)
xg_clf = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.9, learning_rate = 0.01, 
                           max_depth = 10, alpha = 10, n_estimators = 10)

xg_clf.fit(x_train, y_train)

preds = xg_clf.predict(test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']])
test_df['Survived'] = preds

## 6. Write to file

In [21]:
finalResult = test_df[['PassengerId', 'Survived']]
finalResult.to_csv("result_final.csv", index=False)

### The above code gives you 77.03% accuracy when you upload to Kaggle.
### By just using the above data I assume that is the best you can achieve. Actually you can achieve the same number by using logistic regression as well.

## 7. Feature Engineering
[Name based Feature Engineering](https://www.kaggle.com/cdeotte/titanic-using-name-only-0-81818)

Refer to that article to understand how someone created a new feature based on family name groupings. We use that information to build a new XGBoost model and see if it bumps up our score. It is not worth spending more time than this. So, I will just attempt this one feature engineering attempt here.

What these guys are doing is this
* If a surname-woman-child combination is found to be alive in training set then they are borrowing that same surname-woman-child combination information to the test set
* By default they are assuming that all women have survived. Which means they have only corrected for those cases where they definitely know the outcome from training set

This looks a bit like gaming rather than modeling. But let us see if it works.

In [22]:
import re

In [23]:
x_train['Name'] = train_df['Name']

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
p = re.compile('.*, (.*?)\.')
x_train['Title'] = x_train['Name'].apply(lambda x: p.match(x).group(1))

# Change the title now to either man / woman
x_train['Title'] = x_train['Title'].apply(lambda x: -1 if x in ["Capt","Don","Major","Col","Rev","Dr","Sir","Mr", "Jonkheer"] 
                                          else 1 if x in ["Dona","the Countess","Mme","Mlle","Ms","Miss","Lady","Mrs"]
                                                 else 0)

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [25]:
# Engineer "woman-child-groups"
p = re.compile('(.*?),.*')
x_train['Surname'] = x_train['Name'].apply(lambda x: p.match(x).group(1))

# Bucket people into three groups. All males go into no-group (-1)
x_train.Surname[x_train.Title==-1] = -1

# Check the bucket sizes for others
surnamefreq = x_train.groupby(['Surname']).size()
x_train['SurnameFreq'] = x_train['Surname'].apply(lambda x: surnamefreq[x])

# If the family group size is just one then call that as no-group (-1)
x_train['Surname'][x_train['SurnameFreq'] <= 1] = -1

# Update frequencies one final time
surnamefreq = x_train.groupby(['Surname']).size()
x_train['SurnameFreq'] = x_train['Surname'].apply(lambda x: surnamefreq[x])

# Now all the remaining women and children group has to be marked as a single group because mother and child fates
# identified to be intertwined (in that shared link)

# Now change Surnames and Titles into numeric data to have them be handled by XGBoost
#x_train['Surname'][x_train['Surname'] != -1] = 1
#x_train['SurnameClass'] = x_train['Surname'].apply(lambda x: int(x))

# Now write the survival rate for the women-child-family name combinations
x_train['Survived'] = y_train
name_survival = x_train.groupby(['Surname','Survived']).size()

for ind, row in x_train.iterrows():
    surived_c = 0
    not_survived_c = 0
    
    if((row['Surname'],1) in name_survival.index):
        survived_c = name_survival[row['Surname'],1]
    else:
        survived_c = 0
    
    if((row['Surname'],0) in name_survival.index):
        not_survived_c = name_survival[row['Surname'],0]
    else:
        not_survived_c = 0
        
    if(survived_c + not_survived_c > 0):
        x_train.loc[ind,'SurnameSurvival'] = survived_c/(survived_c + not_survived_c)
    else:
        x_train.loc[ind,'SurnameSurvival'] = 0

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ec2-user/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:7626: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/home/ec2-user/miniconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2961: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [26]:
# Now check XGBoost with the new engineered parameters on Surname and title
# Then tune the model
params = [{'learning_rate': [0.01, 0.1, 0.5, 1], 'n_estimators': [50, 100, 200], 'max_depth': [5, 10, 15, 20], 
           'colsample_bytree': [0.3, 0.6, 0.9], 'objective': ['reg:linear'], 'alpha': [10]}]
clf = GridSearchCV(xgb.XGBClassifier(), params, cv=10)
clf.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)
print("Random forest classifier - Grid Search - Best params: ", clf.best_params_)
print("Random forest classifier - Grid Search - Best Score: ", clf.best_score_)

Random forest classifier - Grid Search - Best params:  {'alpha': 10, 'colsample_bytree': 0.9, 'learning_rate': 0.1, 'max_depth': 5, 'n_estimators': 100, 'objective': 'reg:linear'}
Random forest classifier - Grid Search - Best Score:  0.8608305274971941

#### We see that there is a slight bump in the cross validated score to 86.08%. Let us see if it really works.
##### Engineering the features for Test set now

In [27]:
p = re.compile('.*, (.*?)\.')
test_df['Title'] = test_df['Name'].apply(lambda x: p.match(x).group(1))

# Change the title now to either man / woman
test_df['Title'] = test_df['Title'].apply(lambda x: -1 if x in ["Capt","Don","Major","Col","Rev","Dr","Sir","Mr", "Jonkheer"] 
                                          else 1 if x in ["Dona","the Countess","Mme","Mlle","Ms","Miss","Lady","Mrs"]
                                                 else 0)

# Engineer "woman-child-groups"
p = re.compile('(.*?),.*')
test_df['Surname'] = test_df['Name'].apply(lambda x: p.match(x).group(1))

# Bucket people into three groups. All males go into no-group (-1)
test_df.Surname[test_df.Title==-1] = -1

# Check the bucket sizes for others
surnamefreq = test_df.groupby(['Surname']).size()
test_df['SurnameFreq'] = test_df['Surname'].apply(lambda x: surnamefreq[x])

# If the family group size is just one then call that as no-group (-1)
test_df['Surname'][test_df['SurnameFreq'] <= 1] = -1

# Now all the remaining women and children group has to be marked as a single group because mother and child fates
# identified to be intertwined (in that shared link)

# Here borrow from training set
test_df['SurnameSurvival'] = 0

#test_df['Surname'].unique()

for ind, row in test_df.iterrows():
    if(row['Surname'] in x_train['Surname'].unique()):
        test_df.loc[ind,'SurnameSurvival'] = x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0]

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/ec2-user/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,predicted_age,Survived,Title,Surname,SurnameFreq,SurnameSurvival
0,892,3,"Kelly, Mr. James",0,34.500000,0,0,330911,7.8292,NaN,Q,28.296487,0,-1,-1,245,0.34713
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.000000,1,0,363272,7.0000,NaN,S,21.265596,0,1,-1,1,0.34713
2,894,2,"Myles, Mr. Thomas Francis",0,62.000000,0,0,240276,9.6875,NaN,Q,35.274568,0,-1,-1,245,0.34713
3,895,3,"Wirz, Mr. Albert",0,27.000000,0,0,315154,8.6625,NaN,S,28.281555,0,-1,-1,245,0.34713
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.000000,1,1,3101298,12.2875,NaN,S,20.398986,1,1,-1,1,0.34713
5,897,3,"Svensson, Mr. Johan Cervin",0,14.000000,0,0,7538,9.2250,NaN,S,28.271476,0,-1,-1,245,0.34713
6,898,3,"Connolly, Miss. Kate",1,30.000000,0,0,330972,7.6292,NaN,Q,25.057477,0,1,-1,1,0.34713
7,899,2,"Caldwell, Mr. Albert Francis",0,26.000000,1,1,248738,29.0000,NaN,S,30.353489,0,-1,-1,245,0.34713
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",1,18.000000,0,0,2657,7.2292,NaN,C,25.064645,1,1,-1,1,0.34713
9,901,3,"Davies, Mr. John Samuel",0,21.000000,2,0,A/4 48871,24.1500,NaN,S,20.397725,0,-1,-1,245,0.34713
10,902,3,"Ilieff, Mr. Ylio",0,28.295294,0,0,349220,7.8958,NaN,S,28.295294,0,-1,-1,245,0.34713
11,903,1,"Jones, Mr. Charles Cresson",0,46.000000,0,0,694,26.0000,NaN,S,41.993646,0,-1,-1,245,0.34713
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",1,23.000000,1,0,21228,82.2667,B45,S,33.939658,1,1,-1,1,0.34713
13,905,2,"Howard, Mr. Benjamin",0,63.000000,1,0,24065,26.0000,NaN,S,31.179110,0,-1,-1,245,0.34713
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",1,47.000000,1,0,W.E.P. 5734,61.1750,E31,S,34.317598,1,1,-1,1,0.34713
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",1,24.000000,1,0,SC/PARIS 2167,27.7208,NaN,C,27.905681,1,1,-1,1,0.34713
16,908,2,"Keane, Mr. Daniel",0,35.000000,0,0,233734,12.3500,NaN,Q,35.226859,0,-1,-1,245,0.34713
17,909,3,"Assaf, Mr. Gerios",0,21.000000,0,0,2692,7.2250,NaN,C,28.307314,0,-1,-1,245,0.34713
18,910,3,"Ilmakangas, Miss. Ida Livija",1,27.000000,1,0,STON/O2. 3101270,7.9250,NaN,S,21.249021,0,1,-1,1,0.34713
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",1,45.000000,0,0,2696,7.2250,NaN,C,25.064720,0,1,-1,1,0.34713
20,912,1,"Rothschild, Mr. Martin",0,55.000000,1,0,PC 17603,59.4000,NaN,C,37.591998,0,-1,-1,245,0.34713
21,913,3,"Olsen, Master. Artur Karl",0,9.000000,0,1,C 17368,3.1708,NaN,S,27.608097,0,0,-1,1,0.34713
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",1,38.649213,0,0,PC 17598,31.6833,NaN,S,38.649213,1,1,-1,1,0.34713
23,915,1,"Williams, Mr. Richard Norris II",0,21.000000,0,1,PC 17597,61.3792,NaN,C,40.587825,0,-1,-1,245,0.34713
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",1,48.000000,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,28.396719,1,1,Ryerson,2,1.00000
25,917,3,"Robins, Mr. Alexander A",0,50.000000,1,0,A/5. 3337,14.5000,NaN,S,24.373798,0,-1,-1,245,0.34713
26,918,1,"Ostby, Miss. Helene Ragnhild",1,22.000000,0,1,113509,61.9792,B36,C,37.334479,1,1,-1,1,0.34713
27,919,3,"Daher, Mr. Shedid",0,22.500000,0,0,2698,7.2250,NaN,C,28.307314,0,-1,-1,245,0.34713
28,920,1,"Brady, Mr. John Bertram",0,41.000000,0,0,113054,30.5000,A21,S,41.913011,0,-1,-1,245,0.34713
29,921,3,"Samaan, Mr. Elias",0,20.441999,2,0,2662,21.6792,NaN,C,20.441999,0,-1,-1,245,0.34713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",0,21.000000,0,0,364858,7.7500,NaN,Q,28.297906,0,-1,-1,245,0.34713
389,1281,3,"Palsson, Master. Paul Folke",0,6.000000,3,1,349909,21.0750,NaN,S,15.877806,0,0,-1,1,0.34713
390,1282,1,"Payne, Mr. Vivian Ponsonby",0,23.000000,0,0,12749,93.5000,B24,S,40.784119,0,-1,-1,245,0.34713
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,51.000000,0,1,PC 17592,39.4000,D28,S,37.739074,1,1,-1,1,0.34713
392,1284,3,"Abbott, Master. Eugene Joseph",0,13.000000,0,2,C.A. 2673,20.2500,NaN,S,26.530192,1,0,-1,1,0.34713
393,1285,2,"Gilbert, Mr. William",0,47.000000,0,0,C.A. 30769,10.5000,NaN,S,35.260009,0,-1,-1,245,0.34713
394,1286,3,"Kink-Heilmann, Mr. Anton",0,29.000000,3,1,315153,22.0250,NaN,S,15.860783,0,-1,-1,245,0.34713
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",1,18.000000,1,0,13695,60.0000,C31,S,34.338653,1,1,-1,1,0.34713
396,1288,3,"Colbert, Mr. Patrick",0,24.000000,0,0,371109,7.2500,NaN,Q,28.306866,0,-1,-1,245,0.34713
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,48.000000,1,1,13567,79.2000,B41,C,33.222746,1,1,-1,1,0.34713
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",0,22.000000,0,0,347065,7.7750,NaN,S,28.297458,0,-1,-1,245,0.34713
399,1291,3,"Conlon, Mr. Thomas Henry",0,31.000000,0,0,21332,7.7333,NaN,Q,28.298206,0,-1,-1,245,0.34713
400,1292,1,"Bonnell, Miss. Caroline",1,30.000000,0,0,36928,164.8667,C7,S,36.262711,1,1,-1,1,0.34713
401,1293,2,"Gale, Mr. Harry",0,38.000000,1,0,28664,21.0000,NaN,S,31.268705,0,-1,-1,245,0.34713
402,1294,1,"Gibson, Miss. Dorothy Winifred",1,22.000000,0,1,112378,59.4000,NaN,C,37.380696,1,1,Gibson,2,0.00000
403,1295,1,"Carrau, Mr. Jose Pedro",0,17.000000,0,0,113059,47.1000,NaN,S,41.615557,1,-1,-1,245,0.34713
404,1296,1,"Frauenthal, Mr. Isaac Gerald",0,43.000000,1,0,17765,27.7208,D40,C,38.159655,0,-1,-1,245,0.34713
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,20.000000,0,0,SC/PARIS 2166,13.8625,D38,C,35.199757,1,-1,-1,245,0.34713
406,1298,2,"Ware, Mr. William Jeffery",0,23.000000,1,0,28666,10.5000,NaN,S,31.456854,0,-1,-1,245,0.34713
407,1299,1,"Widener, Mr. George Dunton",0,50.000000,1,1,113503,211.5000,C80,C,34.094667,0,-1,-1,245,0.34713
408,1300,3,"Riordan, Miss. Johanna Hannah""""",1,25.055836,0,0,334915,7.7208,NaN,Q,25.055836,1,1,-1,1,0.34713
409,1301,3,"Peacock, Miss. Treasteall",1,3.000000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,20.372331,1,1,Peacock,3,0.00000
410,1302,3,"Naughton, Miss. Hannah",1,25.055312,0,0,365237,7.7500,NaN,Q,25.055312,1,1,-1,1,0.34713
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",1,37.000000,1,0,19928,90.0000,C78,Q,33.801085,1,1,-1,1,0.34713
412,1304,3,"Henriksson, Miss. Jenny Lovisa",1,28.000000,0,0,347086,7.7750,NaN,S,25.054864,0,1,-1,1,0.34713
413,1305,3,"Spector, Mr. Woolf",0,28.292531,0,0,A.5. 3236,8.0500,NaN,S,28.292531,0,-1,-1,245,0.34713
414,1306,1,"Oliva y Ocana, Dona. Fermina",1,39.000000,0,0,PC 17758,108.9000,C105,C,37.265573,1,1,-1,1,0.34713
415,1307,3,"Saether, Mr. Simon Sivertsen",0,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,28.306866,0,-1,-1,245,0.34713
416,1308,3,"Ware, Mr. Frederick",0,28.292531,0,0,359309,8.0500,NaN,S,28.292531,0,-1,-1,245,0.34713
417,1309,3,"Peter, Master. Michael J",0,23.461122,1,1,2668,22.3583,NaN,C,23.461122,0,0,-1,1,0.34713

## 8. Create an upgraded XGBoost Model

In [29]:
# XGBoost
# Set this as per the tuning from GridSearch
# {'alpha': 10, 'colsample_bytree': 0.9, 'learning_rate': 0.1, 'max_depth': 5, 
#  'n_estimators': 50, 'objective': 'reg:linear'}
data_dmatrix = xgb.DMatrix(data=x_train[['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], label=y_train)
xg_clf = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.9, learning_rate = 0.1, 
                           max_depth = 5, alpha = 10, n_estimators = 50)

xg_clf.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)

preds = xg_clf.predict(test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']])
test_df['Survived'] = preds

#### Check if manual correction is required.

In [30]:
for ind, row in test_df.iterrows():
    if(row['Surname'] in x_train['Surname'].unique()):
        if(x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0] in [0,1]):
            print(row['Survived'], x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0])

1 1.0
1 1.0
1 1.0
1 1.0
1 1.0
1 1.0
0 0.0
1 1.0
1 1.0
0 0.0
0 0.0

#### The feature engineering model assumes that a woman by default lives unless there is a strong contradictory evidence. So making that correction here.

In [31]:
for ind, row in test_df.iterrows():
    if(row['Title'] == 1 and row['Survived'] == 0 and row['SurnameSurvival'] != 0):
        test_df.loc[ind,'Survived'] = 1

## 9. Write to file

In [32]:
finalResult = test_df[['PassengerId', 'Survived']]
finalResult.to_csv("result_final_fe.csv", index=False)

## 10. Testing Logistic Regression to see if it does any better.
### Interestingly LR gives better prediction than XGBoost in Kaggle for this correction

In [58]:
lrmodel = lm.LogisticRegressionCV(cv=10, random_state=100)
lrmodel.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)

litPredTrain = lrmodel.predict(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']])
lrmodel.score(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)

0.8451178451178452

In [59]:
lrmodel = lm.LogisticRegressionCV(cv=10, random_state=100)
lrmodel.fit(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)

litPredTrain = lrmodel.predict(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']])
lrmodel.score(x_train[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']], y_train)

0.8451178451178452

In [60]:
preds = lrmodel.predict(test_df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'SurnameSurvival']])
test_df['Survived'] = preds

#### Check to see if our prediction is consistent with SurnameSurvival

In [68]:
for ind, row in test_df.iterrows():
    if(row['Surname'] in x_train['Surname'].unique()):
        if(x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0] in [0,1]):
            print(row['Survived'], x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0])
            
            
for ind, row in test_df.iterrows():
    if(row['Surname'] == -1 and row['Title'] == 0):
        print(row['Name'],row['Survived'], x_train['SurnameSurvival'][x_train['Surname'] == row['Surname']].iloc[0])

1 1.0
1 1.0
1 1.0
1 1.0
1 1.0
1 1.0
0 0.0
1 1.0
1 1.0
0 0.0
0 0.0
Olsen, Master. Artur Karl 0 0.3471295060080107
Rice, Master. Albert 0 0.3471295060080107
Boulos, Master. Akar 0 0.3471295060080107
Drew, Master. Marshall Brines 0 0.3471295060080107
Spedden, Master. Robert Douglas 1 0.3471295060080107
Danbom, Master. Gilbert Sigvard Emanuel 0 0.3471295060080107
Aks, Master. Philip Frank 0 0.3471295060080107
Betros, Master. Seman 0 0.3471295060080107
Palsson, Master. Paul Folke 0 0.3471295060080107
Abbott, Master. Eugene Joseph 0 0.3471295060080107
Peter, Master. Michael J 0 0.3471295060080107

#### The feature engineering model assumes that a woman by default lives unless there is a strong contradictory evidence. So making that correction here.

In [69]:
# Females
for ind, row in test_df.iterrows():
    if(row['Title'] == 1 and row['Survived'] == 0 and row['SurnameSurvival'] != 0):
        test_df.loc[ind,'Survived'] = 1

# Kids
for ind, row in test_df.iterrows():
    if(row['Title'] == 0 and row['Survived'] == 1 and row['SurnameSurvival'] != 1):
        test_df.loc[ind,'Survived'] = 0

In [70]:
finalResult = test_df[['PassengerId', 'Survived']]
finalResult.to_csv("result_final_lr.csv", index=False)

## I am stopping here. This correction gives us 77.99% accuracy with the test set and places us somewhere in the middle of the scores. Which is fine. It is a good practice till here.